.w-font {
  color: white;
}

.about-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 7rem 11% 7rem 11%;
  margin: auto;
}
.title-about,
.subtitle-about {
  color: var(--color-orange);
  margin: 5rem;
  text-align: center;
  font-size: 3rem;
}
.subtitle-about {
  font-size: 2.5rem;
  margin: 2rem;
  font-family: lgCafe;
}
.text-about,
.title-about {
  font-family: lgCafe;
}
.border-about {
  padding: 3rem;
  border: 3px solid var(--color-orange);
}
.about-subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.strongify,
.strongify:visited {
  font-weight: bold;
  color: var(--color-orange);
}

.outline {
  text-decoration: underline;
}
.outline:hover {
  color: var(--color-orange-transparent);
}
.about-img {
  height: 50px;
  width: 50px;
  transition: 0.15s;
}

.about-img:hover {
  filter: drop-shadow(0 0 0.75rem var(--color-orange));
  scale: 1.2;
  transition: 0.15s;
}
.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 2rem;
  font-family: lgCafe;
  letter-spacing: 3px;
  line-height: 2rem;
}
@media only screen and (max-width: 798px) {
  .border-about {
    padding: 2rem;
    width: 100vw;
  }
}
