.w-font {
  color: white;
}
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 70%;
  margin: auto;
}
.contact-cards {
  display: flex;
  margin: auto;
}
.contact-card {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.icon-card {
  height: 5rem;
}
.contact-title {
  color: var(--color-orange);
  margin: 5rem;
  text-align: center;
  font-size: 3rem;
  font-family: lgCafe;
}
.main-container {
  width: 40%;
  height: fit-content;
}

.link {
  transition: 0.15s;
}

.link:hover {
  filter: drop-shadow(0 0 0.75rem var(--color-orange));
  scale: 1.2;
  transition: 0.15s;
}
.contact-subtitle {
  text-align: center;
  padding: 0;
  font-size: 1.2rem;
  font-family: lgCafe;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 3px solid var(--color-orange);
  padding: 50px;
  margin-bottom: 2rem;
}
input,
textarea {
  resize: none;
  border: 2px solid var(--color-orange);
  background: var(--color-black);
  padding: 0.5rem;
}
textarea {
  height: 5rem;
}
