.w-font {
  color: white;
}
.movie-cont {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 7rem 11% 1rem 11%;
}
.movie-poster {
  transition: ease 0.2s;
  border: 4px solid var(--color-orange);
  width: 80%;
  margin: auto;
}

.movie-poster > img {
  height: auto;
  width: 100%;
}
.title {
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  font-family: LGCafe;
}
.centered-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin: auto;
}
.no-column {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.full-item {
  display: flex;
  padding: 1.5rem 2rem 1.5rem 2rem;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  border-bottom: 1px solid var(--color-orange);
}
.status {
  border-bottom: 1px solid var(--color-orange);
}
.go-back-movie,
.btn-link {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: white;
  background-color: transparent;
  border: 1px solid var(--color-orange);
  transition: ease 0.15s;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 3px solid var(--color-orange);
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: var(--color-orange);
  text-decoration: none;
  transition: 0.2s ease all;
  z-index: 1;
}

.go-back-movie:before,
.btn-link:before {
  transition: 0.2s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: var(--color-orange);
  z-index: -1;
}

.go-back-movie:hover,
.go-back-movie:focus,
.btn-link:hover,
.btn-link:focus {
  color: white;
}

.go-back-movie:hover:before,
.go-back-movie:focus:before,
.btn-link:hover:before,
.btn-link:focus:before {
  transition: 0.2s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.go-back-movie:active,
.btn-link:active {
  transform: scale(0.9);
}

.btn-link {
  position: relative;
  left: 0;
  top: 0;
  margin: auto;
}

.align-right {
  text-align: right;
}
.genre-badge {
  border-bottom: 1px solid var(--color-orange);
  font-size: 1rem;
  padding: 0.7rem 0 0.7rem 0;
  text-align: center;
}
.genre-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  gap: 3px;
}
.genres-title {
  font-family: lgCafe;
  letter-spacing: 3px;
  font-size: 1.5rem;
}
.company-container {
  display: flex;
  max-height: 120px;
  padding: 1rem 0 1rem 0;
}
.movie-info-container {
  position: sticky;
  top: 7rem;
}
