.footer {
  min-height: 10rem;
  max-height: max-content;
  background-color: var(--color-black-transparent);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-link,
.footer-item,
.footer-row {
  text-decoration: none;
  color: var(--color-orange);
  transition: ease 1s;
  padding: 0.5rem;
}
.footer-link:hover {
  color: var(--color-orange);
  text-decoration: underline;
  transition: ease 1s;
}
.footer-item {
  cursor: default;
}
.footer-row {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 90%;
  text-align: center;
}
