#header {
  height: 500px;
  max-width: 100vw;
  color: var(--color-orange);
  text-shadow: 7px 7px 7px var(--color-black);
  letter-spacing: 0.5rem;
  text-decoration: underline;
  font-size: 2.5rem;
  font-family: Agero;
  background-image: url("../assets/moviesHeader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
  position: relative;
  margin-bottom: 2rem;
}
#header::after {
  content: "";
  width: 100%;
  height: 250px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, var(--color-black), transparent);
}

@media only screen and (max-width: 798px) {
  #header {
    font-size: 1.2rem;
    height: 270px;
  }
}
