.movie-thumbnail {
  height: 100%;
  margin: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  padding: 0;
  transition: ease 0.2s;
  position: relative;
}
.movie-thumbnail:hover {
  transition: ease 0.2s;
  cursor: pointer;
  scale: 1.05;
}

.movie-rate {
  width: 100%;
  margin: auto;
  padding: 1rem;
  display: flex;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2rem;
  font-weight: bold;
}
.movie-rate > p {
  margin: 0;
}
.loader-container {
  display: flex;
  justify-content: center;
  padding: 50% 0 50% 0;
}
@media screen and (max-width: 500px) {
  .movie-thumbnail {
    width: 250px;
  }
}
