.navbar {
  z-index: 2;
  background-color: var(--color-black-transparent);
  height: 5rem;
  padding: 0 11% 0 11%;
}
.brand-icon {
  height: 65px;
  width: 65px;
}

.gap-nav {
  display: flex;
  width: fit-content;
  gap: 20px;
}

.icon-online {
  position: relative;
  top: 50%;
  transform: translateY(25%);
}
