.navbar {
  z-index: 2;
  background-color: var(--color-black-transparent);
  height: 5rem;
  padding: 0 11% 0 11%;
  position: fixed;
  width: 100%;
}
.brand-icon {
  height: 65px;
  width: 65px;
}

.gap-nav {
  gap: 20px;
  width: 100%;
  display: flex;
  justify-content: end;
}

.icon-online {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem 1rem;
}
.navbar-toggler {
  border-radius: 0;
  color: white;
  border: 0;
}
.image-hamburger:hover {
  cursor: pointer;
}

.show {
  padding: 2rem 0 2rem 0;
}
