:root {
  --color-orange: #9e5a00;
  --color-orange-transparent: rgba(158, 90, 0, 0.5);
  --color-black: rgb(40, 40, 40);
  --color-black-transparent: rgba(26, 26, 26, 0.7);
}

@font-face {
  font-family: "LGCafe";
  src: url("../src/assets/fonts/lgCafe.ttf");
}
@font-face {
  font-family: "Agero";
  src: url("../src/assets/fonts/agero.ttf");
}

body {
  background-color: var(--color-black);
}
#root {
  width: 100vw;
  min-height: 100vh;
}
.lg-cafe {
  font-family: LGCafe;
}
hr {
  color: white;
}
p {
  margin: 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.column-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.border-title {
  border-bottom: 2px solid white;
  padding-bottom: 1rem;
}

.btn-orange {
  color: white;
  min-width: 150px;
  background-color: transparent;
  border: 1px solid var(--color-orange);
  transition: ease 0.15s;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 3px solid var(--color-orange);
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: var(--color-orange);
  text-decoration: none;
  transition: 0.2s ease all;
  z-index: 1;
}

.btn-orange:before {
  transition: 0.2s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: var(--color-orange);
  z-index: -1;
}

.btn-orange:hover,
.btn-orange:focus {
  color: white;
}

.btn-orange:hover:before,
.btn-orange:focus:before {
  transition: 0.2s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.btn-orange:active {
  transform: scale(0.9);
}
